@use 'sass:color';

$color-sets: (
  'gray': #f7f7f7,
  'indigo': #486c8b,
  'brand': #1677ff,
  'blue': #007bff,
  'purple': #7b00ff,
  'red': #d00000,
  'orange': #ff7b00,
  'yellow': #ffd000,
  'green': #2e6f00
);

:root {
  /* 纯黑、纯白 */
  --c-white: #fff;
  --c-black: #000;


@each $name, $base-color in $color-sets {
  @for $i from 1 through 5 {
    --c-#{$name}-#{$i * 100}: #{color.scale($base-color, $lightness: (6 - $i) * 10%)};
  }
  
  --c-#{$name}: #{$base-color};
  
  @for $i from 1 through 5 {
    --c-#{$name}-#{($i + 5) * 100}: #{color.scale($base-color, $lightness: $i * -10%)};
  }
}
}

// /* semantic color variables for this project */ // [data-theme='light'],
// [data-theme='dark'] {
//   --bg-brand: var(--c-brand100);
// }
// [data-theme='light'] {
//   --bg-main: 255 255 255;

//   --bg-layout: var(--c-gray180);
//   --bg-layout-active: var(--c-gray180);
//   --bg-component: var(--c-gray180);
//   --bg-component-active: var(--c-gray160);
//   --bg-input: var(--c-white);

//   --bg-list: var(--c-white);
//   --bg-list-striped: var(--c-gray180);

//   --color-border: var(--c-gray160);
//   --color-border-hover: var(--c-gray80);
//   --color-border-strong: var(--c-gray40);

//   --color-shadow: var(--c-gray30);

//   --text-primary: var(--c-gray20);
//   --text-primary-active: var(--c-gray10);
//   --text-secondary: var(--c-gray60);
//   --text-secondary-active: var(--c-gray40);
//   --text-tertiary: var(--c-gray80);
//   --text-tertiary-active: var(--c-gray60);
// }

// [data-theme='dark'] {
//   --bg-main: var(--c-gray10);

//   --bg-layout: var(--c-gray10);
//   --bg-layout-active: var(--c-gray20);
//   --bg-component: var(--c-gray20);
//   --bg-component-active: var(--c-gray30);
//   --bg-input: var(--c-black);

//   --bg-list: var(--c-black);
//   --bg-list-striped: var(--c-gray20);

//   --color-border: var(--c-gray70);
//   --color-border-hover: var(--c-gray60);
//   --color-border-strong: var(--c-gray70);

//   --color-shadow: #222;

//   --text-primary: var(--c-gray170);
//   --text-primary-active: var(--c-gray180);
//   --text-secondary: var(--c-gray150);
//   --text-secondary-active: var(--c-gray160);
//   --text-tertiary: var(--c-gray130);
//   --text-tertiary-active: var(--c-gray140);
// }

// :root {
//   --c-white: #ffffff;
// }
