@use 'vars';
@use 'rest';

/* iconfont */
.iconfont {
  width: 1.5em;
  height: 1.5em;
  vertical-align: -0.4em;
  fill: currentColor;
  overflow: hidden;
  outline: 0;
}

/* 解决antd-design-vue input自动填充背景色问题 */

input:-internal-autofill-previewed,
input:-internal-autofill-selected {
  box-shadow: inset 0 0 0 1000px var(--bg-input);
  -webkit-text-fill-color: var(--text-primary) !important;
  transition: background-color 5000s ease-in-out 0s !important;
}
h2 {
  display: block;
  font-size: 24px;
  font-weight: 500;
  margin: 0;
}
