@import './variables.css';
@import './rest.css';

:root {
  font-size: 12px;
}
@media screen and (max-width: 640px) {
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 1024px) {
}
@media screen and (max-width: 1280px) {
}
@media screen and (max-width: 1536px) {
}

/* iconfont */
.iconfont {
  width: 1.5em;
  height: 1.5em;
  vertical-align: -0.4em;
  fill: currentColor;
  overflow: hidden;
}

/* 解决antd-design-vue input自动填充背景色问题 */

input:-internal-autofill-previewed,
input:-internal-autofill-selected {
  box-shadow: inset 0 0 0 1000px var(--bg-input);
  -webkit-text-fill-color: var(--text-primary) !important;
  transition: background-color 5000s ease-in-out 0s !important;
}
h2 {
  display: block;
  font-size: 24px;
  font-weight: 500;
  margin: 0;
}

.flex {
  display: flex;
  flex-direction: row;
}
.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-between {
  justify-content: space-between;
}

.flex-cnt-c {
  justify-content: center;
}
.flex-item-c {
  align-items: center;
}
